<div class="container-fluid bg-info">
    <div class="row">
        <div class="col-4">
            <img [src]='gamedata.background_image' class="card-img-top p-2" alt="..." height="500px" width="100px">
        </div>
        <div class="col-8 p-2 text-light">
            <p class="text-center fs-3 fw-bold fst-italic">{{gamedata.name}}</p>
            <p class="fs-5">{{gamedata.description_raw}}</p>
            <!-- <p class="fs-6">Release-Date: {{Mdata.release_date}} , Popularity: {{Mdata.popularity}}</p>
            <p><strong>Directors:</strong>
                <span *ngFor="let dir of cast.directors.items">
                    {{dir.name}}
                </span>
            </p>
            <p><strong>Writers:</strong>
                <span *ngFor="let dir of cast.writers.items">
                    {{dir.name}} ,
                </span>
            </p>
            <p><strong>Genre:</strong>
                <span *ngFor="let genre of Mdata.genres">
                    {{genre.name}} ,
                </span>
            </p>
            <p><strong>Production-House:</strong>
                <span *ngFor="let pcompany of Mdata.production_companies">
                        {{pcompany.name}} ,             
                </span>
            </p> -->

        </div>
    </div>

</div>